<div class='text-center'>
	<h1>Buy a "zucchini" to get in the club</h1>
	<h2> and Manage your migrations</h2>
</div>
<br>

<h3 class='text-center' class="p-2 text-dark"> <%= link_to "Index of Users", home_show_path %></h3>
